
body{
    margin:0px;
    padding: 0px;
    text-align: center;
    background-image: url(../images/bg-pattern-gray-diamond.gif);
    background-repeat: repeat;
}

.Weather {
    color: #CCC;
    alignment: center;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua";
}

.description:hover{
    color: #61dafb;
    alignment: center;
    text-align: center;
}

.table:hover {
    padding-left: 5%;
    padding-right: 5%;
    alignment: center;
    text-align: center;
}